@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #A5ACAF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_Side
{
    position: relative;
    background: #005A9C;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #A5ACAF;
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #ffff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: none;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
}
.left_title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #EEC759;
}
.contactInfo ul li span
{
    color: #ffff;
    font-weight: 300;
}
.contactInfo.education li
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color: #EEC759;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #ffff;
    font-weight: 500;
}
.contactInfo.education h4
{
    color: #ffff;
    font-weight: 300;
}

.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.right_title
{
    color: #005A9C;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 10;
}
p
{
    color: #333;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.about .box .year_company
{
    min-width: 150px;

}
.about .box .year_company h5
{
    text-transform: none;
    color: #333;
    font-weight: 600;
}
.about .box .text h4
{
    text-transform: none;
    color: #005A9C;
    font-weight: 600;
    font-size: 16px;
}
.skills ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.skills ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.skills ul li .fa-solid
{
    color: #005A9C;
    font-size: 18px;
    width: 20px;
}
.skills ul li .fa-brands
{
    color: #005A9C;
    font-size: 18px;
    width: 20px;
}
.interests ul
{
    display: grid;
    font-size: 14px;
    grid-template-columns: repeat(4,1fr);
}
.interests ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interests ul li .fa-solid
{
    color: #005A9C;
    font-size: 14px;
    width: 20px;
}

a:link {
  color: #ffff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #B1C381;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #EEC759;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #EEC759;
  background-color: transparent;
  text-decoration: underline;
}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .skills ul
    {
        grid-template-columns: repeat(2,1fr);
    }
    .interests ul
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        margin-bottom: 5px;
    }
    .skills ul
    {
        grid-template-columns: repeat(1,1fr);
    }
    .interests ul
    {
        grid-template-columns: repeat(1,1fr);
    }
}